/* styles.css */
.mantine-Textarea-wrapper {
  background-color: yellow;
}

/* .input {
  &:hover {
    background: red;
  }
} */

/* .input:focus {
  background-color: #e0e0e0; 
  border-color: red; 
} */
